
/* base layout */
html,
body,
.container,
.main {
    height: 100%;
}

body,
.container,
.main {
    margin:0;
    padding:0;
    position: relative;
}
.container * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.nav {
    position: relative;
    padding: 0.5em 1em;
    width: 100%;
}

.nav div {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    zoom: 1;
}

/*
.nav div:last-child {
    text-align: right;
    width: auto;
    position: absolute;
    right: 1em;
    top: 50%;
    margin-top: -16px;
}
*/

#embedded .nav {
    padding: 0.5em 0.55em;
}
#embedded .nav div {
    width: 100% !important;
    text-align: left;
}


#map {
    position:relative;
    width:100%;
    height: 100%;
    z-index: 1;
}

.panel {
    position: absolute;
    z-index: 9999;
}


.panel.filters,
.panel.details {
    bottom: 20px;
    right: 1em;
    background: rgba(255,255,255,0.8);
    padding: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    z-index: 9999;
}

.panel.details {
    left: 1em;
    right: auto;
}

#additional-actions {
    text-align: right;
    margin-top: 20px;
}

#additional-actions.panel {
    bottom: 20px;
    right: 1em;
    z-index: 9999;
}


/* typography */
.roboto {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heading {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 21px;
}

.sub-heading {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    margin: 0;
    font-weight: 300;
    line-height: 1;
    padding-top: 5px;
}

.txt-copy {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
button, .tabs {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* base styles */
button.link {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;
    border: none;
    outline: none;
    padding: 0;
    text-decoration: none;
}
button.link.btn-large {
    padding: 10px 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

button.link.btn-small {
    padding: 4px 12px;
    line-height: 1;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

button.link.inverse {
    background: #bfbfbf;
    color: #fff;
}

button.link:hover {
    text-decoration: none;
    background: #ddd;
}
button.link.inverse:hover {
    color: #fff;
    background: #ddd;
}

button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}
button.disabled:hover {
    text-decoration: none;
}

button.selected,
.filter-row .selected button {
    background: #ddd !important;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none !important;
}


.counts {
    margin-left: 5px;
    font-weight: 300;
    color: #444;
}

.scroller {
    height: auto;
    max-height: 50px;
    overflow: auto;
}

/* nav */
.nav div:last-child span{
    margin: 0 5px;
}

#embedded .nav h1 a {
    text-decoration: none;
    color: #000;

}
#embedded .nav h1 a:hover {
    text-decoration: none;
    color: #333;
}


/* filters */
.filters p.txt-copy {
    margin: 0 0 10px 3px;
}
.panel-headline {
    font-weight: 700;
    text-transform: uppercase;
}
.filter-row {
    margin-bottom: 5px;
}
.filter-row:last-child {
    margin-bottom: 0;
}

.filter-row ul {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    zoom: 1;
}

.filter-row li {
    float: left;
    margin: 0 2px 0 0;
    overflow: hidden;
}

.filter-row li:last-child {
    margin-right: 0;
}

.filter-row button {
    background: #e5e5e5;
    line-height: 40px;
    padding: 0 6px;
    font-size: 0.65em;
    min-width: 3.5em;
}

.filter-row.status-filters button {
    line-height: 37px;
    padding: 3px 6px 0;
}

.filter-row.status-filters li:first-child {
    -webkit-border-top-left-radius: 10px;
            border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
            border-bottom-left-radius: 10px;
}
.filter-row.status-filters li:last-child {
    -webkit-border-top-right-radius: 10px;
            border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
            border-bottom-right-radius: 10px;
}
.filter-row button.disabled {
    background: #e5e5e5;
}

.filter-row.status-filters li:after {
    content: ' ';
    position: relative;
    display: block;
    height: 6px;
    width: 100%;
    background: #e5e5e5;
}

.filter-row li.filter-reset.selected:after,
.filter-row li.filter-reset:hover:after {background: #ddd !important;}
.filter-row li.filter-implemented:after {background: #80c0ff;}
.filter-row li.filter-underway:after {background: #91d3ff;}
.filter-row li.filter-pre-planning:after {background: #9ee2ff;}
.filter-row li.filter-stalled:after {background: #b3f2ff;}


/* tabs */
.tabs {
    position: relative;
    display: none;
    width: 100%;
    max-width: 400px;

    white-space: normal;
    word-wrap: break-word;
}
.tabs.open {
    display: block;
}
.tabs .filter-row {
    margin-bottom: 0;
    clear: both;
    line-height: 0;
}
.tabs .filter-row ul {
    width: 100%;
    -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
}
.tabs .filter-row li {
    padding: 2px 0 0;
}
.tabs .filter-row li:first-child {
    width: 19%;
    padding-left: 2px;
}
.tabs .filter-row li:last-child {
    width: 80%;
}

.tabs .filter-row li:first-child button {
    -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 0px;
            border-bottom-left-radius: 0px;
}
.tabs .filter-row li:last-child button {
    -webkit-border-top-right-radius: 4px;
            border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0px;
            border-bottom-right-radius: 0px;
    text-align: left;
}
.tabs .filter-row button {
    line-height: 20px;
    width: 100%;
    vertical-align: top;
}
.tabs .tabs-inner {
    position: relative;
    margin: 0 0 0 0;
    background: #e5e5e5;
    -webkit-border-bottom-right-radius: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
    border: 2px solid #fff;
    width: 100%;
}

.tabs .tabs-inner,
.tabs .filter-row ul {
    background: transparent;
    border: 0;
}

.tabs .tabs-inner {
    border-top: 1px solid #ddd;
    max-height: 250px;
    overflow: auto;
}

.tabs .filter-row li:first-child,
.tabs .filter-row li:last-child {
    width: auto;
}

.tabs .filter-row li:first-child {padding-left: 0;}


.tab {
    padding: 0px 5px;
}

.tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab li {
    font-size: 0.75em;
    line-height: 2.2;
    border-bottom: 1px dotted #eee;
}

.tab li span {
    vertical-align: middle;
}

.tab li:last-child {
    border-bottom: none;
}

.tab .key {
    display: inline-block;
    *zoom: 1;
}
.tab .value {
    display: inline-block;
    font-weight: 300;
    line-height: 1.5;
    margin-left: 5px;
    *zoom: 1;
}
.tab:last-child p{
    margin: 5px 0;
}


#resetButton {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    padding: 0;
    background: transparent;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #666;
}
#resetButton:hover {
    background: transparent;
}

.open #resetButton {
    display: block;
}

#resetButton:hover {
    color: #000;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    zoom: 1;
}
.modal-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    z-index: 0;
}
.modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: auto;
    max-height: 70%;
    background: #fff;
    overflow: auto;
    z-index: 1;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.35);
    box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.35);
    zoom: 1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.modal-content {
    position: relative;
    margin: 10px;
}
.modal-row {position: relative;}

.modal p.close {
    text-align: center;
}

.modal .tip {
    line-height: 1.25;
    background: #F6EDA8;
    padding: 10px;
    margin-top: -5px;
}
.modal .instructional-step {
    font-weight: bold;
    margin-bottom: 1px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1.5em;
    line-height: 1;
}
.modal-close.inline {
    position: relative;
    right: auto;
    top: auto;
}

.icon-close {
    position: relative;
    padding: 4px 6px;
    background: transparent;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    text-decoration: none !important;
}
button:hover .icon-close {
    background: transparent;
}

/* horizontal-list */
.horizontal-list {

}
.horizontal-list li {
    display: inline-block;
}

ul.plain {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.plain li {
    margin: 0;
    padding: 0;
}

/* dropdown */
.dropdown {
}

.dropdown ul,
.dropdown li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dropdown li {
    font-size: 1em;
    font-weight: 400;
    margin: 0 5px;
    cursor: auto;
    line-height: 1.5;
}
.dropdown li.top-level {

}

.dropdown li button {
    width: 100%;
    font-size: 0.75em;
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 0.5em;
}
.dropdown li button:after {
    content: " ";
    position: relative;
    float: right;
    background-image: url('../assets/icons/right-chevron.svg');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
}

.dropdown .open > button {
    background: #eee;
}
.dropdown .open > button:after {
    background-image: url('../assets/icons/down-chevron.svg');
}

.dropdown li li {
    font-size: 1em;
    font-weight: 700;
}

.dropdown li li li {
    font-size: 0.75em;
    font-weight: 400;
}

.dropdown li > ul {
    height: 0px;
    overflow: hidden;

}
.dropdown li.open > ul {
    height: auto;
}

.dropdown label {
    cursor: default;
}
.dropdown input[type="checkbox"] {
    margin-right: 5px;
    cursor: auto;
}
.dropdown input[type="checkbox"].checkbox-toggler {
    position: relative;
    float: left;
    top: 3px;
}
.checkbox-item {
    position: relative;
}
.checkbox-item.disabled:after {
    content: ' ';
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
    z-index: 1;
}
.checkbox-item.disabled:after {
    display: block;

}

/*
.checkbox-toggler {
    font-size: 12px;
    color: #666;
    text-decoration: none;
    font-weight: 300;
    margin-left: 10px;
    text-decoration: underline;
}
.checkbox-toggler:after {
    content: '✓';
    opacity: 0.4;
}
.checkbox-toggler.selected:after {
    opacity: 1;
}
*/


#country-selector li {
    position: relative;
    margin-right: 10px;
    border-radius: 0px;
    background: #eee;
}
#country-selector li:hover {
    background: #ccc;
}
#country-selector li:last-child {
    margin-right: 0;
}

#country-selector button.link {
    position: relative;
    padding: 6px 26px 6px 15px;
    font-size: 18px;
    font-weight: 300;
    background: transparent;
    border-radius: 0;
}
#country-selector button.link:hover {
    background: transparent;
}

#country-selector button.link.selected {
    background: #ccc !important;
}

#info-btn {
    line-height: 0;
    margin-left: 10px;
    vertical-align: top;
}

.info-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    border-radius: 8px;
    line-height: 16px;
    color: #000;
    background: #fff;
    font-size: 13px;
    text-align: center;
}
.info-btn:hover {
    background: #fff;
    color: #666;
}
#info-btn img {
    width: 21px;
    height: 21px;
}

.sub-heading button.link {
    text-decoration: underline;
}
header button.link {

}
header button.link:hover {
    background: transparent;
}

/* overlaySelectr */
#overlaySelectr {
    position: absolute;
    display: block;
    top: 1em;
    left: 100%;
    width: 400px;
    background: #fff;

    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
            box-shadow: 0 1px 5px rgba(0,0,0,0.4);

    -webkit-border-radius: 5px;
            border-radius: 5px;
}

.loading #overlaySelectr {
    visibility: hidden;
}

#overlaySelectr .scroll-wrap {
    position: relative;
    width: 100%;
    max-height: 340px;
    padding: 5px;
    overflow: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 9999;

    -webkit-border-radius: 5px;
            border-radius: 5px;
}

#overlaySelectr .inner {
    position: relative;
    display: block;
    margin-top: 0px;
    background: #fff;
}

#overlaySelectr.expanded  {
    display: block;
    left: auto;
    right: 1em;
}

#overlaySelectr .map-layers {}
#overlaySelectr .map-layers:hover {}

#overlaySelectr-close {
    position: absolute;
    display: block;
    top: 2px;
    right: 100%;
    padding: 4px 6px;
    line-height: 1;
    margin-right: 5px;
    border-radius: 4px;
}

#overlaySelectr.expanded #overlaySelectr-close {
    display: block;
}

/* embed */

body.show-embed #embed {
    display: block !important;
}

.mouse-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    opacity: 0;
}
#embed-iframe {
    width: 100%;
    height: 300px;
    max-height: 300px;
    overflow: hidden;

}
#embed-iframe iframe {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    overflow: hidden;
}

#embed textarea {
    height: 80px;
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 1.25;
    color: #555;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 0.85em;
    overflow: auto;
    resize: none;
    outline: none;
    width: 100%;
}

#embed p.close .modal-close {
    font-size: 1.25em;
    font-weight: 700;
}


/* icons */
.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.hide {
    display: none;
}


#embedded {

}

#embedded .panel.filters {
    display: none;
}


/* map overlays */
.leaflet-sandwich-main {
    z-index: 1;
}

.leaflet-sandwich-evts {
    z-index: 3;
}

.moore-map-labels {
    z-index: 2;
}

.my-div-icon {
    width: 20px;
    height: 20px;
    background: red;
}

.leaflet-rrose-content {
    margin: 7px 10px;
}

.leaflet-rrose-tip-s {
    margin: 12px auto 0;
}

.leaflet-rrose-tip-se {
    margin: 12px 11px 11px -8px; overflow: hidden;
}

.leaflet-rrose-tip-sw {
    margin: 12px 11px 11px 32px; overflow: hidden;
}


.leaflet-rrose-content-wrapper {
    -moz-border-radius:    4px;
    -webkit-border-radius: 4px;
    border-radius:         4px;
}

.leaflet-rrose-content-wrapper-se {
    -moz-border-radius:    0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    border-radius:         0 4px 4px 4px;
}

.leaflet-rrose-content-wrapper-sw {
    -moz-border-radius:    4px 0 4px 4px;
    -webkit-border-radius: 4px 0 4px 4px;
    border-radius:         4px 0 4px 4px;
}

.leaflet-rrose-content-wrapper-nw, .leaflet-rrose-content-wrapper-w {
    -moz-border-radius:    4px 4px 0 4px;
    -webkit-border-radius: 4px 4px 0 4px;
    border-radius:         4px 4px 0 4px;
}

.leaflet-rrose-content-wrapper-ne, .leaflet-rrose-content-wrapper-e {
    -moz-border-radius:    4px 4px 4px 0;
    -webkit-border-radius: 4px 4px 4px 0;
    border-radius:         4px 4px 4px 0;
}

.leaflet-rrose-content {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.leaflet-container .leaflet-control-attribution {
    padding: 0 5px;
}

#legend {
    /*
    position: absolute;
    z-index: 9999;
    bottom: 20px;
    left: 1em;
    background: #f4f4f4;
    border: 2px solid #e2ebee;
    border-radius: 6px;
    */
   text-align: center;
}

#legend ul {
    margin: 8px 20px;
    padding: 0;
}

#legend li {
    display: inline-block;
    font-size: 12px;
    margin-right: 15px;
    *zoom: 1;
}
#legend li:last-child {
    margin-right: 0;
}
#legend li span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    *zoom: 1;
}

#legend li .icon {
    background: transparent url('../assets/icons/icons-legend.png') 0 0 no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 1.5 / 1),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
    #legend li .icon {
        background-image: url('../assets/icons/icons-legend@2x.png');
        background-size: 134px 26px;
    }

}


#legend li:first-child .icon {
    width: 23px;
    height: 23px;
    background-position: -1px -1px;
}
/*
#legend li:nth-child(2) .icon {
    background-position: -28px -3px;
}

#legend li:nth-child(3) .icon {
    background-position: -50px -3px;
}

#legend li:nth-child(4) .icon {
    background-position: -72px -3px;
}

#legend li:nth-child(5) .icon {
    background-position: -94px -3px;
}
*/
#legend li:nth-child(2) .icon {
    width: 16px;
    height: 16px;
    background-position: -118px -5px;
}

#legend img {
    width: 790px;
    height: 48px;
    border: 0;
}

.left-panel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    height: 100%;
    width: 430px;
}
.left-panel-inner {
    position: relative;
    width: auto;
}