
/* base layout */
html,
body,
.container,
.main {
    height: 100%;
}

body,
.container,
.main {
    margin:0;
    padding:0;
}

.nav {
    padding: 1.2em 1.875em;
    width: 100%;
}
.nav div {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
}
.nav div:first-child {
    width: 70%;
}
.nav div:last-child {
    width: 29%;
    text-align: right;
}

#map {
    position:relative;
    width:100%;
    height: 100%;
}

.panel {
    position: absolute;
}

.panel.filters {
    bottom: 1.5%;
    left: 1.2em;
}



/* typography */
.roboto {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.heading {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.sub-heading {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    margin: 0;
    font-weight: 300;
    line-height: 1;
    padding-top: 5px;
}

.txt-copy {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
button, .tabs {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}



/* base styles */

button.link {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
button.link:hover {
    text-decoration: underline;
}
button.disabled {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
}
button.disabled:hover {
    text-decoration: none;
}

button.selected {
    background: #e5e5e5 !important;
    /*
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none !important;
    */
}

.scroller {
    height: auto;
    max-height: 50px;
    overflow: auto;
}

/* nav */
.nav div:last-child p button:first-child {
    margin-left: 5px;
}
.nav div:last-child span{
    margin: 0 5px;
}

/* filters */
.filters p.txt-copy {
    margin: 0 0 10px 3px;
}
.filter-row {
    margin-bottom: 5px;
}
.filter-row:last-child {
    margin-bottom: 0;
}

.filter-row ul {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    zoom: 1;
}

.filter-row li {
    float: left;
    margin: 0 2px 0 0;
}

.filter-row li:last-child {
    margin-right: 0;
}

.filter-row button {
    background: #bdbdbd;
    line-height: 40px;
    padding: 0 6px;
    font-size: 0.65em;
}
.filter-row li:first-child button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.filter-row li:last-child button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.filter-row button.disabled {
    background: #e5e5e5;
}

/* tabs */
.tabs {
    position: relative;
    width: 100%;
    max-width: 300px;
}
.tabs .filter-row {
    margin-bottom: 0;
}
.tabs .filter-row ul {
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tabs .filter-row li:first-child {
    width: 19%;
}
.tabs .filter-row li:last-child {
    width: 80%;
}

.tabs .filter-row li:first-child button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
}
.tabs .filter-row li:last-child button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    text-align: left;
}
.tabs .filter-row button {
    line-height: 20px;
    width: 100%;
}
.tabs .tabs-inner {
    position: relative;
    margin: -5px 0 0 0;
    background: #e5e5e5;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #fff;
    width: 100%;

}
.tab {
    padding: 0px 5px;
}
.tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab li {
    font-size: 0.75em;
    line-height: 2.2;
    border-bottom: 1px dashed white;
}
.tab li:last-child {
    border-bottom: none;
}

.tab .key {
    display: inline-block;
    *zoom: 1;
}
.tab .value {
    display: inline-block;
    font-weight: 300;
    margin-left: 5px;
    *zoom: 1;
}
.tab:last-child p{
    margin: 5px 0;
}

.tab:first-child ul {
    max-height: 250px;
    overflow: auto;
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}
.modal-background {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}
.modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    background: #fff;
    z-index: 1;
}
.modal-content {
    margin: 10px;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 5px;
}

/* Clearfix */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

.hide {
    display: none;
}



